*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: antiquewhite;
}
.header-main{
    background-image: url(./images/banner/banner1.png);
    height: 800px;
   
   
}
.header-title{
  text-align: right; 
  margin-left:800px;
   padding-top: 200px; 
}
.header-des{
    text-align:right;
    margin-left:800px;
}
.btn-primary{
    text-align:right;
    margin-left:1015px;
    color: #FFFFFF;
    background-color: #ff3300;
    border-radius:5px;
    padding:5px;
}
/* start main */
main{
    display: flex;
    gap:20px;
}
.main-right{
    margin-top:200px;
}
.main-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.p-dic{
    margin: 20px 0px;
    font-weight: 400;
    font-size: 16px;
}
/* plans start */
.plans-tittle{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin: 40px;
    color: #151414;
}

.img-dec{
    display: flex;
    gap: 150px;
    margin:0px 80px;
    height: 200px;
}
/* start footer */
footer{
    display: flex;
    gap: 300px;
    margin:0px 85px;
    background-color: black;
}
.footer-left{
    margin:20px 10px;
    color:white
}
.footer-right-title{
    margin-bottom: 20px;
}
.footer-right-dec{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;

}
.footer-right{
    margin-top: 80px;
    margin-right: 150px;
    color: white;
}
.footer-title{
     margin-bottom: 10px;
}
.footer-input{
    margin-bottom: 10px;

}
.footer-btn{
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}
